#menu-header-title {
	font-weight: bold;
    font-size: 26px;
}

#menu-header-subtitle {
	font-weight: 500;
    font-size: 11px;
    padding-bottom: 20px;
}

.header {
    align-self: center;
    font-weight: bold;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;

    font-size: x-small;
}

.account-textfield {
    font-size: var(--lumo-font-size-xl);
}
.account-textfield::part(helper-text) {
    transform: translateY(-30%);
    font-size: var(--lumo-font-size-xs);
    padding-left: 5%;
}