/*.fc-daygrid-block-event {*/
/*    height: 50px !important;  !* 設定 allDay 事件的高度 *!*/
/*    line-height: 50px !important; !* 讓文字垂直置中 *!*/
/*    !*padding: 30px;*!*/
/*    text-align: center;*/
/*}*/

/*.fc-event {*/
/*    height: 50px !important; !* 設定事件高度 *!*/
/*    line-height: 50px !important; !* 確保文字垂直置中 *!*/
/*    text-align: center;*/
/*}*/

/* ---- 全域設定 ---- */
vaadin-button {
    border: 1.5px solid var(--lumo-contrast-30pct);
    /*border-radius: 4px;*/
}
/* ---- readonly邊框 ---- */
html {
    --vaadin-input-field-readonly-border: 1px solid grey;
}

.background-plan {
    background-color: var(--lumo-contrast-10pct);
}
.title-heading {
    color: var(--lumo-base-color);
    font-family: var(--lumo-font-family);
}
.title-config {
    background-color: var(--lumo-contrast-50pct);
    border-radius: var(--lumo-border-radius-s);
    padding: 10px; /* 内边距 */
}
.grid-content {
    background-color: var(--lumo-base-color);
    border: 1px solid var(--lumo-contrast-30pct);
    padding: 10px; /* 内边距 */
    border-radius: var(--lumo-border-radius-l);
}

.menu-item-disable {
    background-color: var(--lumo-contrast-30pct);
}
/* ---- shiftSchedules ---- */
.shiftSchedules-grid::part(first-header-row-cell) {
    border-bottom: 2px solid #ccc; /* 设置底部边框 */
    background-color: var(--lumo-contrast-10pct);
}
.shiftSchedules-grid::part(last-header-row-cell) {
    border-bottom: 3px solid #ccc; /* 设置底部边框 */
    font-weight: bold;
}
.shiftSchedules-grid::part(holiday-cell) {
    background-color: #f08080; /* f08080 LightCoral */
}
.shiftSchedules-grid::part(cell-period0) {
    background-color: #afd1da;
}
.shiftSchedules-grid::part(cell-period1) {
    background-color: #76b5c5;
}
.shiftSchedules-grid::part(gray-row) {
    background-color: #d3d3d3;
}
.shiftSchedules-grid::part(footer-cell) {
    border-top: 3px solid #ccc;
    background-color: var(--lumo-contrast-10pct);
    line-height: 10%;
}
.shiftType-combo-holiday::part(label) {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 2px;
    color: #ffffff;
    background-color: #FF5151;
}
.shiftType-combo-shiftday::part(label) {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 2px;
    color: #ffffff;
    background-color: #0080FF;
}

 /*---- slider checkBox ----*/
.my-switch::part(checkbox) {
    display: none;
}
.my-switch > label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    width: 36px;
    height: 20px;
}
.my-switch > label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 34px;
    height: 17px;
    background: #ccc;
    border-radius: 10px;
    transition: 0.3s;
}
.my-switch > label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 6px;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
.my-switch[checked] > label::before {
    background: #0b6efd;
}
.my-switch[checked] > label::after {
    left: 19px;
}




